<app-menuprofe></app-menuprofe>
<div class="container"><hr class="text-danger border-2 opacity-50">
    <div class="border border-dark m-4 shadow-lg p-3 mb-5 bg-body rounded" style="height: 600px;"><br>
        <section>
            <div class="container mt-5 mb-5">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
              <div class="card">
                <img
                  src="./assets/img/prof.jpg"
                  class="card-img-top"
                  
                />
                <div class="card-body">
                  <h5 class="card-title">GESTIONA TUS ALUMNOS.</h5>
                  <p class="card-text">
                   Realiza consultas sobre tus estudiantes.</p>
                </div>
              </div>
            </div>
        
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
              <div class="card">
                <img
                  src="./assets/img/prof2.jpg"
                  class="card-img-top"
                  
                />
                <div class="card-body">
                  <h5 class="card-title">ADMINISTRA LAS CALIFICACIONES.</h5>
                  <p class="card-text">
                   Añade, elimina, edita las notas de tus alumnos.
                  </p>
                </div>
              </div>
            </div>
        
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
              <div class="card">
                <img
                  src="./assets/img/prof3.jpg"/>
                <div class="card-body">
                  <h5 class="card-title">GESTIONA LAS ASISTENCIAS.</h5>
                  <p class="card-text">
                    Lleva el control de las asistencias de tus estudiantes.
                  </p>
                </div>
              </div>
            </div>
                    
            </div>
                
            </div>
        </section>  
        
    </div>
    
  </div>
  <app-pie></app-pie>