<app-menu></app-menu>
<section>
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
      <div class="card">
        <img
          src="./assets/img/card.jpg"
          class="card-img-top"
          
        />
        <div class="card-body">
          <h5 class="card-title">TRABAJA EN EQUIPO</h5>
          <p class="card-text">
           "Un bote no va hacia delante si cada uno rema a su propia manera".</p>
           <footer class="blockquote-footer"><cite title="Source Title">Proverbio swahili.</cite></footer>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
      <div class="card">
        <img
          src="./assets/img/card2.jpg"
          class="card-img-top"
          
        />
        <div class="card-body">
          <h5 class="card-title">SUEÑA</h5>
          <p class="card-text">
           "Mantente fiel a ti mismo, mantente siempre abierto para aprender. Trabaja duro y nunca renuncies a tus sueños, incluso cuando nadie más crea que se puedan hacer realidad".
          </p>
          <footer class="blockquote-footer"><cite title="Source Title">Phikkip Sweet.</cite></footer>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
      <div class="card">
        <img
          src="./assets/img/card3.jpg"/>
        <div class="card-body">
          <h5 class="card-title">APRENDE</h5>
          <p class="card-text">
            "No te preocupes por los fracasos, preocúpate por las oportunidades que pierdes cuando ni siquiera lo intentas".
          </p>
          <footer class="blockquote-footer"><cite title="Source Title">Jack Canfield.</cite></footer>
        </div>
      </div>
    </div>
            
    </div>
        
    </div>
</section>
<br>
<app-pie></app-pie>
