<app-menuprofe></app-menuprofe>
<div class="container"><hr class="text-danger border-2 opacity-50">
    <div class="border border-dark m-4 shadow-lg p-3 mb-5 bg-body rounded" style="height: 600px;"><br>
        <div class="row">
            <div class="col">
                <select class="form-select mx-auto" aria-label="Default select example" style="width: 350px; height:auto;">
                    <option selected>Selecciona tu asignatura</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="col">
                <select class="form-select text-align:right" aria-label="Default select example" style="width: 350px; height:auto;">
                    <option selected>Selecciona el semestre</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select><br>
            </div>
          </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                  <th class="table-secondary" scope="col">Identificacion</th>
                  <th class="table-secondary" scope="col">Nombres</th>
                  <th class="table-secondary" scope="col">Apellidos</th>
                </tr>
                 <!--  
            <tr *ngFor="let va of lista_alumnos" >
              <td>{{va.identificacion}}</td>
              <td>{{va.nombre}}</td>
              <td>{{va.apellido}}</td>
            </tr>-->
              </thead>
        </table>
        
    </div>
    
  </div>
  <app-pie></app-pie>